<!DOCTYPE html>

<html>

<head>
    {{!-- <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css"> --}}

    {{>head}}
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img id='about-image' src="/img/build-zoom-1.jpg"></img>
    </div>

    {{>footer}}
</body>

</html>