<!DOCTYPE html>

<html>

<head>
    {{>head}}
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>

        <form id="weather_form">
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="weather_forecast"></p>
    </div>



    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>