<!DOCTYPE html>

<html>

<head>
    {{>head}}
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p id="subtitle">Use this site to get your weather!</p>

        <form id="weather_form">
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="weather_location"></p>
        <p id="weather_temp"></p>
        <p id="weather_feelslike"></p>
        <p id="weather_desc"></p>
        <p id="weather_precipitation"></p>
        <p id="weather_windspeed"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>